*{
    margin: 0px;
    padding:0px;
}

.container{
    margin-left:40px;
}
.navbar-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.data{
    margin-top: 72px;
    font-family: 'Oswald', sans-serif;
}
[src="./assets/Logo.png"]:hover{
    cursor: pointer;
}
.description{
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}
.navbar-container img{
    margin: 15px;
}
.list{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.list li{
    margin:5px 15px;
    font-family: 'Oswald', sans-serif;
    font:bold;
}
.list li:hover{
    cursor: pointer;
    text-shadow: 1px 1px 3px gray;
}
.grow-list{
    margin-left: -357px;
    margin-top: 21px;
}
.nav-button{
    padding: 10px 20px;
    margin-top:20px;
    margin-right: 50px;
    background-color: blue;
    border-radius: 14px;
    color:white;
    border:none;
}
.nav-button:hover{
    color: black;
    cursor: pointer;
}
.banner-container{
    display: flex;
    flex-direction: row;
}

.heading-text{
    font-size: 59px;
    font-style:initial;
    color:rgb(42, 42, 131);
}
span{
    color:rgb(122, 122, 249);
}

[src="./assets/Header Illustration.png"]{
    width:715px;
}